@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Grand Hotel", cursive;

  scrollbar-color: var(--foreground) transparent;
  scrollbar-width: thin;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary-color: #222222;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  margin-bottom: 10px;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  gap: 20px;

  background-color: var(--background);
  color: var(--foreground);
}

header,
#content {
  width: 100%;
  max-width: 600px;
}

#content {
  display: flex;
  flex-direction: column;
}

button {
  border: solid var(--foreground) 1px;
  border-radius: 20px;

  color: var(--foreground);
  background: none;

  transition:
    color 0.3s ease,
    background 0.3s ease;
}

button:active {
  color: var(--background);
  background: var(--foreground);
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

nav {
  display: flex;
  gap: 10px;
}

nav > button {
  width: 80px;
  height: 40px;

  font-size: 1.25rem;
}

.carousel {
  display: flex;

  width: 600px;
  max-width: 100%;

  padding: 10px;
  gap: 20px;
  margin-bottom: 20px;

  overflow-x: auto;
}

.item {
  display: grid;
  grid-template-columns: 100px 50px 25px;
  grid-template-rows: 185px 25px 25px;
  grid-auto-flow: column;
}

.item img {
  grid-column: span 3;

  width: 100%;
  aspect-ratio: 1 / 1;

  border-radius: 20px;

  transition:
  box-shadow 0.1s ease,
  transform 0.1s ease;
}

.item .number {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: span 2;

  font-size: 1.5rem;
}

.item button {
  line-height: 1.5rem;
  font-size: 1.5rem;

  border: none;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin: 10px;
}

.items p {
  border: solid var(--foreground) 1px;
  padding: 5px;
}

.items p:nth-last-child(2) {
  grid-column: span 3;
}

#buy {
  padding: 10px;
  width: 75px;
  height: 60px;

  border-radius: 30px;

  align-self: center;
  font-size: 1.5rem;
}
